[submodule "addtoany"]
  path = contrib/addtoany
  url = https://github.com/Mriam-Saad/articles_hub.git

[submodule "conditional_fields"]
  path = contrib/conditional_fields
  url = https://github.com/Mriam-Saad/articles_hub.git

[submodule "social_sharing"]
  path = contrib/social_sharing
  url = https://github.com/Mriam-Saad/articles_hub.git

[submodule "twig_tweak"]
  path = contrib/twig_tweak
  url = https://github.com/Mriam-Saad/articles_hub.git

[submodule "views_field_view"]
  path = contrib/views_field_view
  url = https://github.com/Mriam-Saad/articles_hub.git

[submodule "bootstrap4"]
  path = contrib/bootstrap4
  url = https://github.com/Mriam-Saad/articles_hub.git

[submodule "bootstrap_barrio"]
  path = contrib/bootstrap_barrio
  url = https://github.com/Mriam-Saad/articles_hub.git
