[submodule "addtoany"]
  path = web/modules/contrib/addtoany
  url = https://github.com/Mriam-Saad/articles_hub/tree/main/web/modules/contrib

[submodule "conditional_fields"]
  path = web/modules/contrib/conditional_fields
  url = https://github.com/Mriam-Saad/articles_hub/tree/main/web/modules/contrib

[submodule "social_sharing"]
  path = web/modules/contrib/social_sharing
  url = https://github.com/Mriam-Saad/articles_hub/tree/main/web/modules/contrib

[submodule "twig_tweak"]
  path = web/modules/contrib/twig_tweak
  url = https://github.com/Mriam-Saad/articles_hub/tree/main/web/modules/contrib

[submodule "views_field_view"]
  path = web/modules/contrib/views_field_view
  url = https://github.com/Mriam-Saad/articles_hub/tree/main/web/modules/contrib

[submodule "bootstrap4"]
  path = web/modules/contrib/bootstrap4
  url = https://github.com/Mriam-Saad/articles_hub/tree/main/web/modules/contrib

[submodule "bootstrap_barrio"]
  path = web/modules/contrib/bootstrap_barrio
  url = https://github.com/Mriam-Saad/articles_hub/tree/main/web/modules/contrib
